#outerCircle {
    width: 70px;
    height: 70px;
    background-color: #a6601b;
    border: 4px solid #864d16;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 45%;
    z-index: 2;
}

#innerCircle {
    width: 40px;
    height: 40px;
    background-color: #864d16;
    border-radius: 50%;
}

#leaves {
    width: 30px;
    height: 80px;
    background-color: #ffc90e;
    border:4px solid #854a11;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
}